@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('https://images.pexels.com/photos/3742711/pexels-photo-3742711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }